body {
    width: 80%;
    margin: 0 auto;
    background-color: blanchedalmond;
    display: block;

    

}

a {
    text-decoration: none;
}

li {
    margin: 10px 0;
    font-size: 20px;
}

li.recipe-list {
    list-style: none;

}

p {
    font-size: 20px;
}

.footer {
    text-align: center;
    margin: 30px;
}